* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.item {
    width: calc(100% / 3 - 10px);
    margin-right: 10px;
    margin-bottom: 20px;
    float: left;
}

img {
   width: 100%;
   height: 350px;
   object-fit: cover;
}





/* ***** debug ***** */
.debug {
    background-color: lightsalmon;
    height: 900px;
}
