* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.item {
    width: calc(100% / 3 - 10px);
    height: 400px;
    margin-right: 10px;
    margin-bottom: 20px;
    float: left;
    position: relative;
}

.img-origin {
   width: 100%;
   height: 350px;
   object-fit: cover;
}

.img-hover {
   width: 100%;
   height: 350px;
   object-fit: cover;
   display: none;
}

.item:hover .img-origin {
    display: none;
}

.item:hover .img-hover {
    display: inline-block;
}

.preferiti {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    top: 10px;
    background-color: white;
    text-align: center;
}

.sconto-green {
    position: absolute;
    bottom: 65px;
    left: 0;
}

.sconto, .green {
    font-size: 9px;
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 2px 3px;
}

.sconto {
    background-color: rgb(255, 0, 55);
}

.green {
    background-color: seagreen;
}

.descrizione {
    position: absolute;
    bottom: 0;
    font-size: 11px;
}

.modello {
    text-transform: uppercase;
    font-weight: bold;
}

.prezzo-scontato {
    color: rgb(255, 0, 55);
    font-weight: bold;
}

.prezzo-intero {
    text-decoration: line-through;
}



/* ***** debug ***** */
.debug {
    background-color: lightsalmon;
    height: 900px;
}
